[Unit]
Description=gunicorn daemon for LP project
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/LP
ExecStart=/home/ubuntu/LP/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/LP/app.sock \
          LP.wsgi:application

[Install]
WantedBy=multi-user.target
